h1, h2 {color: #5F0F40;}
body {background-color: #A7FCC3;}
p, li, ul{color: #9e6586}
a {color: #a01ca0;}
a:hover {color: #569961}
a:visited {color: #404040}
nav {background-color: white; padding: 10px;margin-bottom: 30px;}
nav a {color: #5b3a94;}
nav a:visited {color: aqua;}
nav a:hover {color: #de7cd1;}
.img1 {float:left; margin-right: 10px;}
.clear {clear: both;}
.quote {float: right}
.part2 {display: flex;}
.article1 {flex: 2; order: 3;background-color: white;border-radius: 1em;}
.article2 {flex:1;order: 2;background-color: white;border-radius: 1em;}
.article3 {flex:1; order: 1;background-color: white;border-radius: 1em;}
.article1, .article2, .article3 {margin: 10px;}
.part2 article {padding: 20px;}
.center {display: flex;justify-content: center;}
.skills {display: flex; flex: 3;justify-content: space-between;margin-top: 50px;}
.otherskills {background-color: white;border-radius: 1em;margin: 0 auto; width: 30%;flex: 1;padding: 10px;}
.flexbox2 {display:flex; margin: 15px; padding: 15px;}